.navbar {
  width: 80%;
  max-width: 1000px;
  height: 52px;

  margin: 20px auto;
  padding: 0 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 16px;

  /* Glass Effect */
  background: #1F2937;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.06),
    0 8px 25px rgba(0,0,0,0.35);
}

.logo {
  display: flex;
  align-items: center;
}

.logoIcon {
  width: 22px;
  height: 22px;

  border-radius: 8px;

  background: linear-gradient(
    135deg,
    #8b5cf6,
    #5b7cff
  );

  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotate(45deg);

  box-shadow: 0 0 15px rgba(126, 87, 255, 0.5);
}

.inner {
  width: 10px;
  height: 10px;

  border-radius: 4px;

  background: #0a0f1f;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signIn {
  background: rgba(255,255,255,0.05);

  border: 1px solid rgba(255,255,255,0.08);

  color: #d6d6d6;

  padding: 7px 16px;

  border-radius: 8px;

  font-size: 13px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.signIn:hover {
  background: rgba(255,255,255,0.1);
}

.register {
  border: none;

  padding: 7px 16px;

  border-radius: 8px;

  color: white;

  font-size: 13px;
  cursor: pointer;

  background: linear-gradient(
    90deg,
    #6f6bff,
    #8b5cf6
  );

  box-shadow:
    0 0 15px rgba(139,92,246,0.35);

  transition: all 0.3s ease;
}

.register:hover {
  transform: translateY(-1px);

  box-shadow:
    0 0 22px rgba(139,92,246,0.5);
}

